
body {
  /*font-family: "Lato";*/
  /*font-size: 100%;*/
  overflow-y: scroll;
  /*font-family: sans-serif;*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /*background-color: #fefefe;*/
}

/**/
a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  /* velocidad transicion */
  transition: all 1.1s ease;
}
a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 1.1s ease;
}

.app {
  /*height: 40.4vh;
  height: 304px;*/
  height: 418px;

}

.sidebar li{
	visibility: hidden;
}
.sidebar:hover li{
 visibility: visible;
}

.sidebar {
  position: absolute;
  /* width: 11.6em; */
  width: 11.6em;
 /* Altura menu desplegable 2 
  height: 100%; 
  height: 54px;*/
  height: 130px;
  top: 0;
  overflow: hidden;
  background-color: #343434;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

.sidebar:hover {
  height: 100%;
  /*  velocidad transiciones sumenu 0 */
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  /* velocidad entrada submenu 0 */
  transition: all 1.4s ease;
}

.sidebar header {
  background-color: #343434;
  width: auto;
  display: block;
  padding: 0.0em	0.5em;
}

.sidebar-nav {
  position: fixed;
  /* fondo menu principal */
  background-color: #343434;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding: 2px;
  display: inline-block;
  width: 100%;

}
.sidebar-nav ul li a {
  /*color: rgba(255, 255, 255, 0.9);*/
  /* color fondo de menu total 
    background-color: #410e0e;
  */
  background-color: #343434;
  font-size: 0.75em;
  margin-right: 2px;
  padding: 0.3em	0.3em;
  position: relative;
  display: block;
  height: 20px;
  border-radius: 4px;
}
.sidebar-nav ul li a:hover {
  /*background-color: rgba(0, 0, 0, 0.9);*/
  /* fondo menu principal 
  background-color: #000;*/
  background-color: #4b4b4b;  
  color: #fff;
 -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease;
  height: 20px;
}

.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.2em;
  /*width: 9em;*/
  display: inline;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
.sidebar-nav > ul > li > a:after {
  /*content: '\f125';*/
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
  /*content: url(icos/flecha.gif);*/
}

.sidebar-nav .nav-flyout {
  position: absolute;
/* color de fondo submenu a:hover 
  background-color: #d0d17d;
*/ 
  background-color: #343434 ;
  z-index: 9;
  left: 1.5em;
  top: 0;
  width: auto;
  height: 100vh;
  padding-right: 2px !important;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  /* transiciones submenu */
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  /* velocidad retroceso submenu */
  transition: all 0.0s ease;
}
.sidebar-nav .nav-flyout a:hover {
  background-color: #4b4b4b;
}

.sidebar-nav ul > li:hover .nav-flyout {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  /*  velocidad transiciones sumenu */
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  /* velocidad entrada submenu */
  transition: all 2.4s ease;
}

